.logger {
  padding: 1.3em;
  background: var(--logger-bg-color);

  font-family: Roboto;
  font-weight: 300;
  box-shadow: var(--logger-shadow);

  overflow-y: scroll;
}

.logger__user {
  font-size: .9em;
  font-weight: 400;
  margin: 2em 0
}

.logger__close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.logger__list {
  list-style: none;
  line-height: 2.5em;

  font-size: 1em;

  padding: 0;
  margin: 0;
}

.logger__api {
  margin: 1.3em 0 0 0;
  min-height: 20em;
}

.logger__api__header,
.logger__api__user {
  margin-bottom: 1em;
}

.logger__list > * {
  color: #ddd;
  border-bottom: 1px solid #ddd;
  padding: .5em 0;
}

.logger__list > .active {
  font-weight: bold;
  color: #666;
}

.logger__list .hidden {
  display: none;
}

.logger__list .button, .button {
  font-size: 11pt;
  font-weight: normal;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
